@{
    ViewData["Title"] = "Privacybeleid";
}

<div class="container mt-5">
    <h2>@ViewData["Title"]</h2>
    <p>Je privacy is belangrijk voor ons. Het is Bulky's beleid om je privacy te respecteren met betrekking tot alle informatie die we van je kunnen verzamelen op onze website.</p>

    <h4>Welke persoonlijke informatie verzamelen we?</h4>
    <p>Bulky verzamelt geen persoonlijke informatie over jou behalve wanneer je vrijwillig contact met ons opneemt via e-mail of andere directe vormen van communicatie.</p>

    <!-- Voeg hier andere secties van je privacybeleid toe -->

    <h4>Cookies</h4>
    <p>Bulky maakt gebruik van "cookies" om de service te personaliseren. Een cookie is een klein tekstbestand dat op je computer wordt opgeslagen. Je hebt de mogelijkheid om cookies te accepteren of te weigeren. Als je ervoor kiest om cookies te weigeren, kun je mogelijk niet alle functies van onze website volledig ervaren.</p>

    <h4>Wijzigingen in ons privacybeleid</h4>
    <p>Bulky kan dit privacybeleid van tijd tot tijd bijwerken. Eventuele wijzigingen in dit beleid worden van kracht wanneer ze op deze pagina worden geplaatst.</p>

    <p>Voor vragen over dit privacybeleid kun je <a href="mailto:y.ahmet@outlook.be">contact met ons opnemen</a>.</p>
</div>
