@{
    ViewData["Title"] = "Movie App Home";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welkom bij Bulky! de beste film website</h1>
        <p class="lead">Ontdek en geniet van je favoriete films met onze Movie App.</p>  
    </div>
</div>
